body {
    background-color: black;
  margin-top: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
    overflow: hidden;
     
}
.skills {
  width:70%;
  max-width: 960px;
  height: 780px;
  margin: auto;
  position: relative;
    margin-left: 240px;
}
 
.line-label.title {
  text-transform: uppercase;
  font-weight: bold;
}
 
.chart:first-child {
  margin: 0;
}
.chart-title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  opacity: 0;
  animation: 2.5s anim-lightspeed-in ease forwards;
}
.chart-prod .chart-title {
  animation-delay: 4.3s;
}
.chart-design .chart-title {
  animation-delay: 4.5s;
}
.chart-horiz {
  overflow: hidden;
}
.chart-bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #f50976, orange);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
.chart-dev .chart-bar:nth-of-type(11) {
  animation-delay: 2.7s;
}
.chart-dev .chart-bar:nth-of-type(10) {
  animation-delay: 2.5s;
}
.chart-dev .chart-bar:nth-of-type(9) {
  animation-delay: 2.3s;
}
.chart-dev .chart-bar:nth-of-type(8) {
  animation-delay: 2.1s;
}
.chart-dev .chart-bar:nth-of-type(7) {
  animation-delay: 1.9s;
}
.chart-dev .chart-bar:nth-of-type(6) {
  animation-delay: 1.7s;
}
.chart-dev .chart-bar:nth-of-type(5) {
  animation-delay: 1.5s;
}
.chart-dev .chart-bar:nth-of-type(4) {
  animation-delay: 1.3s;
}
.chart-dev .chart-bar:nth-of-type(3) {
  animation-delay: 1.1s;
}
.chart-dev .chart-bar:nth-of-type(2) {
  animation-delay: 0.9s;
}
.chart-dev .chart-bar:nth-of-type(1) {
  animation-delay: 0.7s;
}
.chart-prod .chart-bar:nth-of-type(2) {
  animation-delay: 4.2s;
}
.chart-prod .chart-bar:nth-of-type(1) {
  animation-delay: 4s;
}
.chart-design .chart-bar:nth-of-type(3) {
  animation-delay: 5.6s;
}
.chart-design .chart-bar:nth-of-type(2) {
  animation-delay: 5.4s;
}
.chart-design .chart-bar:nth-of-type(1) {
  animation-delay: 5.2s;
}
.chart-label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
        ul li{
            list-style: none;
        }
        body
        {
            margin: 0;
            padding: 0;
            animation: bgcolor infinite 20s;
        }
        h1
        {
            margin: 0;
            padding: 0;
            font-family: Arial;
            font-size: 5em;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
        @keyframes bgcolor{
            0%
            {
                background: #e74c3c ;
            }
            20%
            {
                background: #575fcf;
            }
            40%
            {
                background: #740ff9;
            }
            60%
            {
                background: #f1c40f ;
            }
            80%
            {
                background: #e67e22;
            }
            100%
            {
                background: #e74c3c;
            }
        }
    .navigation-wrapper {
      position: relative;
    }
    .navigation-button {
      will-change: transform;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: fixed;
      z-index: 1;
      top: 40px;
      right: 100px;
      background: transparent;
      cursor: pointer;
    }
    .navigation-button .fa {
      border: 2px solid white;
      border-radius: 3px;
      padding: 10px;
        color: white;
    }
     
    
    .navigation-menu ul li {
      list-style: none;
      font-family: impact;
      font-weight: 300;
      color: hsl(0,0%,70%);
    }
    
    .navigation-menu {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      background: #fff;
      height: 100%;
      transform: skewX(0deg) translate(100%,0);
      transform-origin: top right;
      transition: all .2s ease-in;
      z-index: -1;
    }
    .navigation-menu ul {
      transform: skewX(-8deg);
      transform-origin: top left;
      position: fixed;
      right: 120px;
      top: 120px;
      width: 400px;
      text-align: right;
    
    }
    .navigation-menu ul li {
      position: relative;
        z-index: 999;
      font-size: 32px;
      color: hsl(0,0%,10%);
      line-height: 64px;
    }
    .navigation-menu ul li  a {
      border: none;
      color: hsl(0,0%,10%);
      text-decoration: none;
    }
    .navigation-menu.active {
      transform: skewX(8deg) translate(0,0);
        
    }
    
    .navigation-menu li {
      opacity: 0;
      transform: translate(0, 10px);
      transition: all .0s ease-in .3s;
      
    }
    .navigation-menu.active li {
      opacity: 1;
      transform: translate(0,0);
      transition: all .2s ease-in 0s;
    }
    .navigation-menu.active li:nth-child(1) {
      transition-delay: .3s;
    }
    .navigation-menu.active li:nth-child(2) {
      transition-delay: .4s;
    }
    .navigation-menu.active li:nth-child(3) {
      transition-delay: .5s;
    }
    .navigation-menu.active li:nth-child(4) {
      transition-delay: .6s;
    }
    .navigation-menu.active li:nth-child(5) {
      transition-delay: .7s;
    }
    .navigation-menu.active li:nth-child(6) {
      transition-delay: .8s;
    }